In [2]:
#importing pandas library
import pandas as pd

In [41]:
#import all datasets in this cell and following
#directory of datasets
dataset_path='./Datasets'
#co dataset
dublin_co = pd.read_csv(dataset_path+'/dublin-city-council-co-2011.csv')

In [62]:
#nox dataset
dublin_nox = pd.read_csv(dataset_path+'/dublin-city-council-no-no2-2011.csv')

In [43]:
#pm dataset
dublin_pm = pd.read_csv(dataset_path+'/dublin-city-council-pm10-2-5-2011.csv',encoding='unicode_escape')

In [70]:
#so2 dataset
dublin_so2 = pd.read_csv(dataset_path+'/dublin-city-council-so2-2011.csv')

# Following cells are for implementing the append_st_to_param_name function on the dataframes

In [45]:
#function to append the street name to the cells of row index = 5
#creating a new label for the cells of row index = 5 such that it contains the station name and the measured parameter
#the cells will later become the column names
def append_st_to_param_name(df, stname_index_r,stname_index_c,row_range_r,row_range_c_start,row_range_c_stop):
    #df = dataframe whose cells to append
    #row_range_r = the index of the row where to append the street names
    #row_range_c_start = the index of the first column of the range of columns where to append the street names
    #row_range_c_stop = the index of the last column of the range of columns where to append the street names
    #stname_index_r = the index of the row where the station name is
    #stname_index_c = the index of the column where the station name is
    df.iloc[row_range_r, row_range_c_start:row_range_c_stop] = [df.iloc[stname_index_r,stname_index_c] +
                                                                " " +pre_label for pre_label in  
                                                                df.iloc[row_range_r, 
                                                                        row_range_c_start:row_range_c_stop]]
    new_labels = df.iloc[row_range_r, row_range_c_start:row_range_c_stop]
    return new_labels

In [46]:
#label change for dublin_co.iloc[5,2:6]
append_st_to_param_name(dublin_co,4,2,5,2,6)

Unnamed: 2                  Wood Quay (Winetavern St.) CO mg/m3
Unnamed: 3               Wood Quay (Winetavern St.) 8 hr rol...
Unnamed: 4                      Wood Quay (Winetavern St.) Flag
Unnamed: 5                   Wood Quay (Winetavern St.) Comment
Name: 5, dtype: object

In [48]:
#label change for dublin_co.iloc[5,6:10]
append_st_to_param_name(dublin_co, 4, 6, 5, 6, 10)

Unnamed: 6                    Coleraine Street CO mg/m3
Unnamed: 7             Coleraine Street 8 hr roling avg
Unnamed: 8                        Coleraine Street Flag
Unnamed: 9                     Coleraine Street Comment
Name: 5, dtype: object

In [63]:
#label change for dublin_nox.iloc[5,2:8]
append_st_to_param_name(dublin_nox, 4, 4, 5, 2, 8)

Unnamed: 2    Ballyfermot MPS NO2 ug/m3
Unnamed: 3     Ballyfermot MPS NO ug/m3
Unnamed: 4    Ballyfermot MPS NOx ug/m3
Unnamed: 5    Ballyfermot MPS NO2 Check
Unnamed: 6         Ballyfermot MPS Flag
Unnamed: 7      Ballyfermot MPS Comment
Name: 5, dtype: object

In [64]:
#label change for dublin_nox.iloc[5,8:14]
append_st_to_param_name(dublin_nox,4,8,5,8,14)

Unnamed: 8                                                Col...
Unnamed: 9                                                Col...
Unnamed: 10                                               Col...
Unnamed: 11                                               Col...
Unnamed: 12                                               Col...
Unnamed: 13                                               Col...
Name: 5, dtype: object

In [65]:
dublin_nox.iloc[5,10]

'                                           Coleraine Street  NOx ug/m3'

In [66]:
#label change for dublin_nox.iloc[5,14:20]
append_st_to_param_name(dublin_nox,4,14,5,14,20)

Unnamed: 14                                  Wood Quay (Winet...
Unnamed: 15                                  Wood Quay (Winet...
Unnamed: 16                                  Wood Quay (Winet...
Unnamed: 17                                  Wood Quay (Winet...
Unnamed: 18                                  Wood Quay (Winet...
Unnamed: 19                                  Wood Quay (Winet...
Name: 5, dtype: object

In [67]:
dublin_nox.iloc[5,15]

'                              Wood Quay (Winetavern St.) NO ug/m3'

In [71]:
#label change for dublin_so2.iloc[5,2:6]
append_st_to_param_name(dublin_so2, 3, 2, 5, 2, 6)

Unnamed: 2                          Coleraine Street  SO2 ug/m3
Unnamed: 3                      Coleraine Street  Daily Avg ...
Unnamed: 4                               Coleraine Street  Flag
Unnamed: 5                            Coleraine Street  Comment
Name: 5, dtype: object

In [72]:
print(dublin_so2.iloc[5,3])

                  Coleraine Street  Daily Avg 24 hr.

In [73]:
#label change for dublin_so2.iloc[5,6:10]
append_st_to_param_name(dublin_so2,3,6,5,6,10)

Unnamed: 6                            Wood Quay (Winetavern ...
Unnamed: 7                            Wood Quay (Winetavern ...
Unnamed: 8                            Wood Quay (Winetavern ...
Unnamed: 9                            Wood Quay (Winetavern ...
Name: 5, dtype: object

In [74]:
print(dublin_so2.iloc[5,7])

                        Wood Quay (Winetavern St.) Daily Avg 24 hr.

In [75]:
#label change for dublin_nox.iloc[5,10:14]
append_st_to_param_name(dublin_so2,3,12,5,10,14)

Unnamed: 10           Ballyfermot SO2 ug/m3
Unnamed: 11    Ballyfermot Daily Avg 24 hr.
Unnamed: 12                Ballyfermot Flag
Unnamed: 13             Ballyfermot Comment
Name: 5, dtype: object

In [76]:
dublin_so2.iloc[5,12]

'Ballyfermot Flag'