In [13]:
# import math
x=8778/24
y=8778%24
print(f'{math.floor(x)} days and {int(y)} hours')

365 days and 18 hours

In [1]:
#importing pandas library
import pandas as pd
import ssl
#the following is a black magic from stackoverflow. idk what it does
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
#import all datasets from data.world/dublin-city
#co dataset
dublin_co = pd.read_csv('http://query.data.world/s/qgh73lewkxyjmmv5m5ohozcjggua76')

In [3]:
#nox dataset
dublin_nox = pd.read_csv('https://query.data.world/s/hacqe4qdigqt4n7lyg6re4m3uxzvsb')

In [ ]:
# #pm dataset
# dublin_pm = pd.read_csv('https://query.data.world/s/2py6cjcfd3jjcnbz7bh3mailiygw26')

In [4]:
#so2 dataset
dublin_so2 = pd.read_csv('https://query.data.world/s/ik7cw4vmxtikdnf4d7wzq5w2we2mpb')

In [5]:
#print head
dublin_co.head(10)

,Please provide hourly results in mg/m3 of CO monitoring conducted in Dublin City by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,The 8 hour rolling avgerages will calculate au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Please provide a flag number (see comment for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Site,NaN,Wood Quay (Winetavern St.),NaN,NaN,NaN,Coleraine Street,NaN,NaN,NaN
5,Date,Time,CO mg/m3,8 hr roling avg,Flag,Comment,CO mg/m3,8 hr roling avg,Flag,Comment
6,31/12/2010,17,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
7,31/12/2010,18,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8,31/12/2010,19,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
9,31/12/2010,20,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN

In [8]:
#print tail
dublin_co.tail(20)

,Please provide hourly results in mg/m3 of CO monitoring conducted in Dublin City by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
8766,31/12/2011,17,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8767,31/12/2011,18,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8768,31/12/2011,19,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8769,31/12/2011,20,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8770,31/12/2011,21,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8771,31/12/2011,22,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8772,31/12/2011,23,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8775,Annual Mean,NaN,0.1,#DIV/0!,NaN,NaN,0.4,#DIV/0!,NaN,NaN
8776,Annual Median,NaN,0.1,#DIV/0!,NaN,NaN,0.4,#DIV/0!,NaN,NaN
8777,95-percentile,NaN,0.3,#DIV/0!,Final Data Coverage,NaN,0.9,#DIV/0!,Final Data Coverage,NaN
8778,98-percentile,NaN,0.5,#DIV/0!,NaN,NaN,1.6,#DIV/0!,NaN,NaN
8779,99.9-percentile,NaN,1,#DIV/0!,7,NaN,3,#DIV/0!,0,NaN
8780,Max,NaN,1.2,#DIV/0!,3614,NaN,3.4,#DIV/0!,3621,NaN
8781,Number of Values,NaN,3604,3632,3621,NaN,3603,3616,3621,NaN
8782,Percent of Values,NaN,41,41,41,NaN,41,41,41.3,NaN
8783,Values >=5,NaN,0,0,NaN,NaN,0,0,NaN,NaN
8784,No of zeros,NaN,104,1,NaN,NaN,50,0,NaN,NaN
8785,% Zeros,NaN,3,0,NaN,NaN,1,0,NaN,NaN

In [29]:
#print head
dublin_nox.head(10)

,Please provide hourly results in ug/m3 of NO2 and Nox monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Please also provide a flag number (see comment...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,If any new stations have been added to the net...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Site,NaN,Coll...,NaN,Ballyfermot MPS,NaN,NaN,NaN,Col...,NaN,...,NaN,NaN,Wood Quay (Winet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,Time,Ballyfermot MPS NO2 ug/m3,Ballyfermot MPS NO ug/m3,Ballyfermot MPS NOx ug/m3,Ballyfermot MPS NO2 Check,Ballyfermot MPS Flag,Ballyfermot MPS Comment,Col...,Col...,...,Col...,Col...,Wood Quay (Winet...,Wood Quay (Winet...,Wood Quay (Winet...,Wood Quay (Winet...,Wood Quay (Winet...,Wood Quay (Winet...,NaN,NaN
6,01/01/2011,01:00,NaN,NaN,NaN,0,NaN,NaN,23.7,5.3,...,2,NaN,48.9,37.5,86.5,48.9,2,NaN,NaN,NaN
7,01/01/2011,02:00,NaN,NaN,NaN,0,NaN,NaN,24.0,6.5,...,2,NaN,44.1,17.8,61.9,44.1,2,NaN,NaN,NaN
8,01/01/2011,03:00,NaN,NaN,NaN,0,NaN,NaN,26.8,12.8,...,2,NaN,35.0,5.9,41.0,35.0,2,NaN,NaN,NaN
9,01/01/2011,04:00,NaN,NaN,NaN,0,NaN,NaN,27.0,12.8,...,2,NaN,38.3,10.7,49.0,38.3,2,NaN,NaN,NaN

In [13]:
#print tail
dublin_nox.tail(40)

,Please provide hourly results in ug/m3 of NO2 and Nox monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
12238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#print head
dublin_so2.head(10)

,Please provide hourly results in ug/m3 of SO2 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,The daily average will calculate automatically...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The comment field is optional. If any new stat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,Coleraine Street,NaN,NaN,NaN,Wood Quay (Winetavern ...,NaN,NaN,NaN,,NaN,Ballyfermot,NaN
4,Site,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,Time,Coleraine Street SO2 ug/m3,Coleraine Street Daily Avg ...,Coleraine Street Flag,Coleraine Street Comment,Wood Quay (Winetavern ...,Wood Quay (Winetavern ...,Wood Quay (Winetavern ...,Wood Quay (Winetavern ...,Ballyfermot SO2 ug/m3,Ballyfermot Daily Avg 24 hr.,Ballyfermot Flag,Ballyfermot Comment
6,01/01/2011,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,01/01/2011,1.00,2.2,NaN,2,NaN,0.2,NaN,2,NaN,NaN,NaN,NaN,NaN
8,01/01/2011,2.00,2.0,NaN,2,NaN,0.0,NaN,2,NaN,NaN,NaN,NaN,NaN
9,01/01/2011,3.00,1.7,NaN,2,NaN,0.1,NaN,2,NaN,NaN,NaN,NaN,NaN

In [12]:
#print tail
dublin_so2.tail(20)

,Please provide hourly results in ug/m3 of SO2 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
8767,Hourly Average,NaN,NaN,NaN,Data Capture %,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8768,Annual Mean,NaN,0.5,#DIV/0!,NaN,NaN,0.4,#DIV/0!,NaN,NaN,#DIV/0!,#DIV/0!,NaN,NaN
8769,Annual Median,NaN,0.3,#DIV/0!,NaN,NaN,0.1,#DIV/0!,NaN,NaN,#NUM!,#DIV/0!,NaN,NaN
8770,95-percentile,NaN,2.9,#DIV/0!,NaN,NaN,2.4,#DIV/0!,NaN,NaN,#NUM!,#DIV/0!,NaN,NaN
8771,98-percentile,NaN,4.5,#DIV/0!,NaN,NaN,3.8,#DIV/0!,NaN,NaN,#NUM!,#DIV/0!,NaN,NaN
8772,99.9-percentile,NaN,13.4,#DIV/0!,3622,NaN,7.9,#DIV/0!,3612,NaN,#NUM!,#DIV/0!,0,NaN
8773,Max,NaN,17.4,#DIV/0!,2,NaN,8.8,#DIV/0!,1,NaN,0.0,#DIV/0!,0,NaN
8774,Number of Values,NaN,3310,147,3624,NaN,2770,146,3613,NaN,0,0,0,NaN
8775,Percent of Values,NaN,38,2,41,NaN,32,2,41,NaN,0,0,0,NaN
8776,Values >350,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN,NaN
8777,No of zeros,NaN,200,1,NaN,NaN,283,1,NaN,NaN,0,0,NaN,NaN
8778,% Zeros,NaN,6.0,0.7,NaN,NaN,10.2,0.7,NaN,NaN,#DIV/0!,#DIV/0!,NaN,NaN
8779,Daily Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,Sum Daily Avg.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,Count Daily Avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,Annual Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,Values >125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8784,Values >75,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,NaN,NaN
8785,Values >50,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,NaN,NaN
8786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Following cells are for implementing the label_change_num function on the dataframes

In [5]:
#function to append the street name to the cells of row index = 5
#thus creating a new label for the cells
#the cells will later become the column names
def label_change_num(df,label_index_r, label_index_c, row_range_r, row_range_c_start,row_range_c_stop):
    #df = dataframe whose cells to append
    #row_range_r = the index of the row where to append the street names
    #row_ra
    df.iloc[row_range_r, row_range_c_start:row_range_c_stop] = [df.iloc[label_index_r,label_index_c] +
                                                                " " +pre_label for pre_label in  
                                                                df.iloc[row_range_r, 
                                                                        row_range_c_start:row_range_c_stop]]
    new_labels = df.iloc[row_range_r, row_range_c_start:row_range_c_stop]
    return new_labels

In [6]:
#label change for dublin_co.iloc[5,2:6]
label_change_num(dublin_co,4,2,5,2,6)

Unnamed: 2                  Wood Quay (Winetavern St.) CO mg/m3
Unnamed: 3               Wood Quay (Winetavern St.) 8 hr rol...
Unnamed: 4                      Wood Quay (Winetavern St.) Flag
Unnamed: 5                   Wood Quay (Winetavern St.) Comment
Name: 5, dtype: object

In [7]:
print(dublin_co.iloc[5,2:6])

Unnamed: 2                  Wood Quay (Winetavern St.) CO mg/m3
Unnamed: 3               Wood Quay (Winetavern St.) 8 hr rol...
Unnamed: 4                      Wood Quay (Winetavern St.) Flag
Unnamed: 5                   Wood Quay (Winetavern St.) Comment
Name: 5, dtype: object

In [8]:
#label change for dublin_co.iloc[5,6:10]
label_change_num(dublin_co, 4, 6, 5, 6, 10)

Unnamed: 6                    Coleraine Street CO mg/m3
Unnamed: 7             Coleraine Street 8 hr roling avg
Unnamed: 8                        Coleraine Street Flag
Unnamed: 9                     Coleraine Street Comment
Name: 5, dtype: object

In [9]:
print(dublin_co.iloc[5,6:10])

Unnamed: 6                    Coleraine Street CO mg/m3
Unnamed: 7             Coleraine Street 8 hr roling avg
Unnamed: 8                        Coleraine Street Flag
Unnamed: 9                     Coleraine Street Comment
Name: 5, dtype: object

In [10]:
#label change for dublin_nox.iloc[5,2:8]
label_change_num(dublin_nox, 4, 4, 5, 2, 8)

Unnamed: 2    Ballyfermot MPS NO2 ug/m3
Unnamed: 3     Ballyfermot MPS NO ug/m3
Unnamed: 4    Ballyfermot MPS NOx ug/m3
Unnamed: 5    Ballyfermot MPS NO2 Check
Unnamed: 6         Ballyfermot MPS Flag
Unnamed: 7      Ballyfermot MPS Comment
Name: 5, dtype: object

In [11]:
print(dublin_nox.iloc[5,2:8])

Unnamed: 2    Ballyfermot MPS NO2 ug/m3
Unnamed: 3     Ballyfermot MPS NO ug/m3
Unnamed: 4    Ballyfermot MPS NOx ug/m3
Unnamed: 5    Ballyfermot MPS NO2 Check
Unnamed: 6         Ballyfermot MPS Flag
Unnamed: 7      Ballyfermot MPS Comment
Name: 5, dtype: object

In [12]:
#label change for dublin_nox.iloc[5,8:14]
label_change_num(dublin_nox,4,8,5,8,14)

Unnamed: 8                                                Col...
Unnamed: 9                                                Col...
Unnamed: 10                                               Col...
Unnamed: 11                                               Col...
Unnamed: 12                                               Col...
Unnamed: 13                                               Col...
Name: 5, dtype: object

In [13]:
dublin_nox.iloc[5,10]

'                                           Coleraine Street  NOx ug/m3'

In [14]:
#label change for dublin_nox.iloc[5,14:20]
label_change_num(dublin_nox,4,14,5,14,20)

Unnamed: 14                                  Wood Quay (Winet...
Unnamed: 15                                  Wood Quay (Winet...
Unnamed: 16                                  Wood Quay (Winet...
Unnamed: 17                                  Wood Quay (Winet...
Unnamed: 18                                  Wood Quay (Winet...
Unnamed: 19                                  Wood Quay (Winet...
Name: 5, dtype: object

In [15]:
dublin_nox.iloc[5,15]

'                              Wood Quay (Winetavern St.) NO ug/m3'

In [16]:
#label change for dublin_so2.iloc[5,2:6]
label_change_num(dublin_so2, 3, 2, 5, 2, 6)

Unnamed: 2                          Coleraine Street  SO2 ug/m3
Unnamed: 3                      Coleraine Street  Daily Avg ...
Unnamed: 4                               Coleraine Street  Flag
Unnamed: 5                            Coleraine Street  Comment
Name: 5, dtype: object

In [25]:
print(dublin_so2.iloc[5,3])

                  Coleraine Street  Daily Avg 24 hr.

In [18]:
#label change for dublin_so2.iloc[5,6:10]
label_change_num(dublin_so2,3,6,5,6,10)

Unnamed: 6                            Wood Quay (Winetavern ...
Unnamed: 7                            Wood Quay (Winetavern ...
Unnamed: 8                            Wood Quay (Winetavern ...
Unnamed: 9                            Wood Quay (Winetavern ...
Name: 5, dtype: object

In [21]:
print(dublin_so2.iloc[5,8])

                        Wood Quay (Winetavern St.) Flag

In [33]:
#label change for dublin_nox.iloc[5,10:14]
label_change_num(dublin_so2,3,12,5,13,14)

Unnamed: 13    Ballyfermot Comment
Name: 5, dtype: object

In [35]:
dublin_so2.iloc[5,13]

'Ballyfermot Comment'

In [27]:
#filtering for the Date and Time columns 
temp_df = dublin_aq.iloc[2:, :2]
#filtering for the the last four columns (for Coleraine Street)
temp_df_mid = dublin_aq.iloc[2:, 6:10]
col_st_aq=pd.merge(temp_df, temp_df_mid,left_index=True, right_index=True)
#reset index
col_st_aq.reset_index().drop(columns='index')

C:\Users\User\anaconda3\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

5,Date,Time,CO mg/m3,8 hr roling avg,Flag,Comment
0,Site,NaN,Coleraine Street,NaN,NaN,NaN
1,Date,Time,CO mg/m3,8 hr roling avg,Flag,Comment
2,2010-12-31 00:00:00,17,NaN,NaN,NaN,NaN
3,2010-12-31 00:00:00,18,NaN,NaN,NaN,NaN
4,2010-12-31 00:00:00,19,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
8777,Number of Values,NaN,3603,3616,3621,NaN
8778,Percent of Values,NaN,41.1301,41.2785,41.3356,NaN
8779,Values >=5,NaN,0,0,NaN,NaN
8780,No of zeros,NaN,50,0,NaN,NaN
8781,% Zeros,NaN,1.38773,0,NaN,NaN

In [16]:
#function to drop the first
def clean_df_h5_dropna()

In [139]:
#experimental function, ND
def label_change(df,label_tag,row_range):
    for pre_label in row_range:
        label=label_tag+" "+pre_label 
    listing = [label_tag+" "+pre_label for pre_label in row_range ]

#     df.replace(pre_label,label,inplace=True)

In [3]:
#function for changing the labels in index=5 (6th row) to contain area names
#e.g.change NO2 ug/m3 to Wood Quay (Winetavern St.) NO2 ug/m3
def label_change(df,label_tag,row_range):
#     row_range = None
    #df = dataframe, label_tag = the integer location of the area name, 
    #row_range = the range of values to be changed (expressed in iloc)
    for pre_label in row_range:
        label=label_tag+" "+pre_label
        df.replace(pre_label,label,inplace=True)
#     print(row_range)
    return row_range

In [6]:
df_list = [dublin_co,dublin_nox,dublin_so2]

In [7]:
df_list[0]

,Please provide hourly results in mg/m3 of CO monitoring conducted in Dublin City by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,The 8 hour rolling avgerages will calculate au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Please provide a flag number (see comment for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Site,NaN,Wood Quay (Winetavern St.),NaN,NaN,NaN,Coleraine Street,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8781,Number of Values,NaN,3604,3632,3621,NaN,3603,3616,3621,NaN
8782,Percent of Values,NaN,41,41,41,NaN,41,41,41.3,NaN
8783,Values >=5,NaN,0,0,NaN,NaN,0,0,NaN,NaN
8784,No of zeros,NaN,104,1,NaN,NaN,50,0,NaN,NaN
8785,% Zeros,NaN,3,0,NaN,NaN,1,0,NaN,NaN