In [1]:
#importing pandas library
import pandas as pd

In [2]:
#import all datasets in this cell and following
#directory of datasets
dataset_path='./Datasets'
#importing carbon monoxide dataset
dublin_co = pd.read_csv(dataset_path+'/dublin-city-council-co-2011.csv')

In [3]:
#importing nitrogen oxides dataset
dublin_nox = pd.read_csv(dataset_path+'/dublin-city-council-no-no2-2011.csv')

In [4]:
#importing particulate matter 2.5 and 10 dataset
dublin_pm = pd.read_csv(dataset_path+'/dublin-city-council-pm10-2-5-2011.csv',encoding='unicode_escape')

In [5]:
#importing sulfur dioxide dataset
dublin_so2 = pd.read_csv(dataset_path+'/dublin-city-council-so2-2011.csv')

# Following cells are for implementing the append_st_to_param_name function on the dataframes

In [6]:
#function to append the street name to the cells of row index = 5
#creating a new label for the cells of row index = 5 such that it contains the station name and the measured parameter
#the cells will later become the column names
def append_st_to_param_name(df, stname_index_r,stname_index_c,row_range_r,row_range_c_start,row_range_c_stop):
    #df = dataframe whose cells to append
    #row_range_r = the index of the row where to append the street names
    #row_range_c_start = the index of the first column of the range of columns where to append the street names
    #row_range_c_stop = the index of the last column of the range of columns where to append the street names
    #stname_index_r = the index of the row where the station name is
    #stname_index_c = the index of the column where the station name is
    df.iloc[row_range_r, row_range_c_start:row_range_c_stop] = [df.iloc[stname_index_r,stname_index_c] +
                                                                " " +pre_label for pre_label in  
                                                                df.iloc[row_range_r, 
                                                                        row_range_c_start:row_range_c_stop]]
    new_labels = df.iloc[row_range_r, row_range_c_start:row_range_c_stop]
    return new_labels

In [7]:
#label change for dublin_co.iloc[5,2:6]
append_st_to_param_name(dublin_co,4,2,5,2,6)

Unnamed: 2                  Wood Quay (Winetavern St.) CO mg/m3
Unnamed: 3               Wood Quay (Winetavern St.) 8 hr rol...
Unnamed: 4                      Wood Quay (Winetavern St.) Flag
Unnamed: 5                   Wood Quay (Winetavern St.) Comment
Name: 5, dtype: object

In [8]:
#label change for dublin_co.iloc[5,6:10]
append_st_to_param_name(dublin_co, 4, 6, 5, 6, 10)

Unnamed: 6                    Coleraine Street CO mg/m3
Unnamed: 7             Coleraine Street 8 hr roling avg
Unnamed: 8                        Coleraine Street Flag
Unnamed: 9                     Coleraine Street Comment
Name: 5, dtype: object

In [9]:
#label change for dublin_nox.iloc[5,2:8]
append_st_to_param_name(dublin_nox, 4, 4, 5, 2, 8)

Unnamed: 2    Ballyfermot MPS NO2 ug/m3
Unnamed: 3     Ballyfermot MPS NO ug/m3
Unnamed: 4    Ballyfermot MPS NOx ug/m3
Unnamed: 5    Ballyfermot MPS NO2 Check
Unnamed: 6         Ballyfermot MPS Flag
Unnamed: 7      Ballyfermot MPS Comment
Name: 5, dtype: object

In [10]:
#label change for dublin_nox.iloc[5,8:14]
append_st_to_param_name(dublin_nox,4,8,5,8,14)

Unnamed: 8                                                Col...
Unnamed: 9                                                Col...
Unnamed: 10                                               Col...
Unnamed: 11                                               Col...
Unnamed: 12                                               Col...
Unnamed: 13                                               Col...
Name: 5, dtype: object

In [11]:
#checking the entry to see if it's correct
dublin_nox.iloc[5,10]

'                                           Coleraine Street  NOx ug/m3'

In [12]:
len(dublin_nox.iloc[5,10])

70

In [13]:
#label change for dublin_nox.iloc[5,14:20]
append_st_to_param_name(dublin_nox,4,14,5,14,20)

Unnamed: 14                                  Wood Quay (Winet...
Unnamed: 15                                  Wood Quay (Winet...
Unnamed: 16                                  Wood Quay (Winet...
Unnamed: 17                                  Wood Quay (Winet...
Unnamed: 18                                  Wood Quay (Winet...
Unnamed: 19                                  Wood Quay (Winet...
Name: 5, dtype: object

In [14]:
dublin_nox.iloc[5,15]

'                              Wood Quay (Winetavern St.) NO ug/m3'

In [15]:
#label change for dublin_so2.iloc[5,2:6]
append_st_to_param_name(dublin_so2, 3, 2, 5, 2, 6)

Unnamed: 2                          Coleraine Street  SO2 ug/m3
Unnamed: 3                      Coleraine Street  Daily Avg ...
Unnamed: 4                               Coleraine Street  Flag
Unnamed: 5                            Coleraine Street  Comment
Name: 5, dtype: object

In [16]:
print(dublin_so2.iloc[5,3])

                  Coleraine Street  Daily Avg 24 hr.

In [17]:
#label change for dublin_so2.iloc[5,6:10]
append_st_to_param_name(dublin_so2,3,6,5,6,10)

Unnamed: 6                            Wood Quay (Winetavern ...
Unnamed: 7                            Wood Quay (Winetavern ...
Unnamed: 8                            Wood Quay (Winetavern ...
Unnamed: 9                            Wood Quay (Winetavern ...
Name: 5, dtype: object

In [18]:
print(dublin_so2.iloc[5,7])

                        Wood Quay (Winetavern St.) Daily Avg 24 hr.

In [19]:
#label change for dublin_nox.iloc[5,10:14]
append_st_to_param_name(dublin_so2,3,12,5,10,14)

Unnamed: 10           Ballyfermot SO2 ug/m3
Unnamed: 11    Ballyfermot Daily Avg 24 hr.
Unnamed: 12                Ballyfermot Flag
Unnamed: 13             Ballyfermot Comment
Name: 5, dtype: object

In [20]:
#label change for dublin_pm.iloc[5,1:4]
append_st_to_param_name(dublin_pm,4,1,5,1,4)

Unnamed: 1    Marino PM2.5(µg m-3)
Unnamed: 2             Marino Flag
Unnamed: 3         Marino Comment
Name: 5, dtype: object

In [21]:
#view dublin_pm
dublin_pm[4:20]

,Please provide hourly results in ug/m3 of PM 10 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
4,Site,Marino,NaN,NaN,Coleraine St.,NaN,NaN,Phoenix Park,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,Marino PM2.5(µg m-3),Marino Flag,Marino Comment,PM2.5 (µg m-3),Flag,Comment,PM10 (µg m-3),Flag,Comment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1-Jan-11,16.8,1,NaN,17,1,NaN,14.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2-Jan-11,12.6,1,NaN,8.9,1,NaN,10.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3-Jan-11,25.1,1,NaN,18,1,NaN,16,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4-Jan-11,8.1,1,NaN,9.3,1,NaN,7.5,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5-Jan-11,8.3,1,NaN,10.1,1,NaN,8.1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6-Jan-11,24.6,1,NaN,32,1,NaN,17.6,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7-Jan-11,14.3,1,NaN,19.7,1,NaN,16.4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8-Jan-11,12.5,1,NaN,10.1,1,NaN,10.4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9-Jan-11,9.9,1,NaN,12,1,NaN,8.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10-Jan-11,11,1,NaN,11.6,1,NaN,8.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11-Jan-11,48.7,1,NaN,11.4,1,NaN,4.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,12-Jan-11,6.9,1,NaN,6.5,1,NaN,5.3,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,13-Jan-11,9.7,1,NaN,12.6,1,NaN,6.8,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,14-Jan-11,3.5,1,NaN,9.3,1,NaN,8.5,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#label change for dublin_pm.iloc[5,4:7]
append_st_to_param_name(dublin_pm,4,4,5,4,7)

Unnamed: 4    Coleraine St. PM2.5 (µg m-3)
Unnamed: 5              Coleraine St. Flag
Unnamed: 6          Coleraine St. Comment
Name: 5, dtype: object

In [23]:
#label change for dublin_pm.iloc[5,7:10]
append_st_to_param_name(dublin_pm,4,7,5,7,10)

Unnamed: 7    Phoenix Park PM10 (µg m-3)
Unnamed: 8             Phoenix Park Flag
Unnamed: 9         Phoenix Park Comment
Name: 5, dtype: object

In [24]:
#checking the number of columns of each datafarame. Apparently there are a lot of empty columns on dublin_pm
print(len(dublin_co.columns))
print(len(dublin_nox.columns))
print(len(dublin_so2.columns))
print(len(dublin_pm.columns))

10
22
14
52

In [25]:
#only selecting relevant columns of dublin_pm into a temporary dataframe
dublin_pm_temp = dublin_pm.iloc[:,:10]
#double checking for the number of colums selected
print(f'dublin_temp has {len(dublin_pm_temp.index)} rows and {len(dublin_pm_temp.columns)} columns')
#
dublin_pm_temp.head(10)
dublin_pm.iloc[:10,10:]
#it seems there are more relevant columns
dublin_pm.iloc[:10,18:]
#and the number of relevant columns extend up to column = 18

dublin_temp has 386 rows and 10 columns

,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Comment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dublin_pm_temp = dublin_pm.iloc[:,:19]
dublin_pm_temp.head(10)
#looks like the appropriate number of columns should be 19 (up to column = 18)

,Please provide hourly results in ug/m3 of PM 10 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Please provide a flag number (see comment for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,If any new stations have been added to the net...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Site,Marino,NaN,NaN,Coleraine St.,NaN,NaN,Phoenix Park,NaN,NaN,Wood Quay (Winetavern St.),NaN,NaN,Rathmines,NaN,NaN,Ballyfermot,NaN,NaN
5,Date,Marino PM2.5(µg m-3),Marino Flag,Marino Comment,Coleraine St. PM2.5 (µg m-3),Coleraine St. Flag,Coleraine St. Comment,Phoenix Park PM10 (µg m-3),Phoenix Park Flag,Phoenix Park Comment,PM10 (µg m-3),Flag,Comment,PM10 (µg m-3),Flag,Comment,PM10 (µg m-3),Flag,Comment
6,1-Jan-11,16.8,1,NaN,17,1,NaN,14.7,1,NaN,20.7,1,NaN,19.7,1,NaN,NaN,NaN,NaN
7,2-Jan-11,12.6,1,NaN,8.9,1,NaN,10.7,1,NaN,13.5,1,NaN,16.1,1,NaN,NaN,NaN,NaN
8,3-Jan-11,25.1,1,NaN,18,1,NaN,16,1,NaN,23.1,1,NaN,24.4,1,NaN,NaN,NaN,NaN
9,4-Jan-11,8.1,1,NaN,9.3,1,NaN,7.5,1,NaN,10.8,1,NaN,12.2,1,NaN,NaN,NaN,NaN

In [27]:
#label change for dublin_pm.iloc[5,10:13]
append_st_to_param_name(dublin_pm,4,10,5,10,13)

Unnamed: 10    Wood Quay (Winetavern St.) PM10 (µg m-3)
Unnamed: 11             Wood Quay (Winetavern St.) Flag
Unnamed: 12         Wood Quay (Winetavern St.) Comment
Name: 5, dtype: object

In [28]:
#label change for dublin_pm.iloc[5,13:16]
append_st_to_param_name(dublin_pm,4,13,5,13,16)

Unnamed: 13    Rathmines PM10 (µg m-3)
Unnamed: 14             Rathmines Flag
Unnamed: 15         Rathmines Comment
Name: 5, dtype: object

In [29]:
#label change for dublin_pm.iloc[5,16:19]
append_st_to_param_name(dublin_pm,4,16,5,16,19)

Unnamed: 16    Ballyfermot PM10 (µg m-3)
Unnamed: 17             Ballyfermot Flag
Unnamed: 18         Ballyfermot Comment
Name: 5, dtype: object

In [30]:
#shortening dublin_pm to only the first 19 rows (i.e. up to column = 18)
dublin_pm = dublin_pm.iloc[:,:19]

In [31]:
#view the dataframe for a check
dublin_pm

,Please provide hourly results in ug/m3 of PM 10 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Please provide a flag number (see comment for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,If any new stations have been added to the net...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Site,Marino,NaN,NaN,Coleraine St.,NaN,NaN,Phoenix Park,NaN,NaN,Wood Quay (Winetavern St.),NaN,NaN,Rathmines,NaN,NaN,Ballyfermot,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,Percent of Values,33,NaN,NaN,35,NaN,NaN,36,NaN,NaN,36,NaN,NaN,36,NaN,NaN,0,NaN,NaN
382,Values >=50,2,NaN,NaN,8,NaN,NaN,3,NaN,NaN,7,NaN,NaN,11,NaN,NaN,0,NaN,NaN
383,Values <50,120,NaN,NaN,118,NaN,NaN,129,NaN,NaN,126,NaN,NaN,120,NaN,NaN,0,NaN,NaN
384,No of zeros,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
385,% Zeros,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,#DIV/0!,NaN,NaN

In [32]:
#renaming columns of each of the dataframes according to their respective row = 5
dublin_co.columns=dublin_co.iloc[5,:]
dublin_nox.columns=dublin_nox.iloc[5,:]
dublin_pm.columns=dublin_pm.iloc[5,:]
dublin_so2.columns=dublin_so2.iloc[5,:]

In [33]:
#defining function to view the tail of the dataframes
#to get an idea of how many bottom rows to drop
def df_view_tail(df,tail_row=25):
    return df.tail(tail_row)

In [34]:
df_view_tail(dublin_co)
#drop all rows from row = 8773

5,Date,Time,Wood Quay (Winetavern St.) CO mg/m3,Wood Quay (Winetavern St.) 8 hr roling avg,Wood Quay (Winetavern St.) Flag,Wood Quay (Winetavern St.) Comment,Coleraine Street CO mg/m3,Coleraine Street 8 hr roling avg,Coleraine Street Flag,Coleraine Street Comment
8761,31/12/2011,12,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8762,31/12/2011,13,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8763,31/12/2011,14,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8764,31/12/2011,15,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8765,31/12/2011,16,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8766,31/12/2011,17,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8767,31/12/2011,18,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8768,31/12/2011,19,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8769,31/12/2011,20,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8770,31/12/2011,21,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8771,31/12/2011,22,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8772,31/12/2011,23,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8775,Annual Mean,NaN,0.1,#DIV/0!,NaN,NaN,0.4,#DIV/0!,NaN,NaN
8776,Annual Median,NaN,0.1,#DIV/0!,NaN,NaN,0.4,#DIV/0!,NaN,NaN
8777,95-percentile,NaN,0.3,#DIV/0!,Final Data Coverage,NaN,0.9,#DIV/0!,Final Data Coverage,NaN
8778,98-percentile,NaN,0.5,#DIV/0!,NaN,NaN,1.6,#DIV/0!,NaN,NaN
8779,99.9-percentile,NaN,1,#DIV/0!,7,NaN,3,#DIV/0!,0,NaN
8780,Max,NaN,1.2,#DIV/0!,3614,NaN,3.4,#DIV/0!,3621,NaN
8781,Number of Values,NaN,3604,3632,3621,NaN,3603,3616,3621,NaN
8782,Percent of Values,NaN,41,41,41,NaN,41,41,41.3,NaN
8783,Values >=5,NaN,0,0,NaN,NaN,0,0,NaN,NaN
8784,No of zeros,NaN,104,1,NaN,NaN,50,0,NaN,NaN
8785,% Zeros,NaN,3,0,NaN,NaN,1,0,NaN,NaN

In [35]:
df_view_tail(dublin_nox,25)
#bottom rows to be dropped from row = 8766

5,Date,Time,Ballyfermot MPS NO2 ug/m3,Ballyfermot MPS NO ug/m3,Ballyfermot MPS NOx ug/m3,Ballyfermot MPS NO2 Check,Ballyfermot MPS Flag,Ballyfermot MPS Comment,Coleraine Street NO2 ug/m3,Coleraine Street NO ug/m3,...,Coleraine Street Flag,Coleraine Street Comment,Wood Quay (Winetavern St.) NO2 ug/m3,Wood Quay (Winetavern St.) NO ug/m3,Wood Quay (Winetavern St.) NOx ug/m3,Wood Quay (Winetavern St.) NO2 Check,Wood Quay (Winetavern St.) Flag,Wood Quay (Winetavern St.) Comment,NaN,NaN
8753,31/12/2011,12:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8754,31/12/2011,13:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8755,31/12/2011,14:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8756,31/12/2011,15:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8757,31/12/2011,16:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8758,31/12/2011,17:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8759,31/12/2011,18:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8760,31/12/2011,19:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8761,31/12/2011,20:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8762,31/12/2011,21:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8763,31/12/2011,22:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8764,31/12/2011,23:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8765,31/12/2011,24:00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8767,Annual Mean,NaN,#DIV/0!,#DIV/0!,#DIV/0!,NaN,Final Data Capture %,NaN,35,34,...,Final Data Capture %,NaN,44,43,87,44,Final Data Capture %,NaN,NaN,NaN
8768,Annual Median,NaN,#NUM!,#NUM!,#NUM!,NaN,NaN,NaN,28,10,...,NaN,NaN,41,8,49,41,NaN,NaN,NaN,NaN
8769,95-percentile,NaN,#NUM!,#NUM!,#NUM!,NaN,NaN,NaN,81,150,...,NaN,NaN,90,216,301,84,NaN,NaN,NaN,NaN
8770,98-percentile,NaN,#NUM!,#NUM!,#NUM!,NaN,NaN,NaN,97,330,...,NaN,NaN,105,425,523,98,NaN,NaN,NaN,NaN
8771,99.9-percentile,NaN,#NUM!,#NUM!,#NUM!,NaN,0,NaN,138,771,...,3621,NaN,155,949,1099,150,3611,NaN,NaN,NaN
8772,Max,NaN,0,0,0,NaN,0,NaN,167,1209,...,3,NaN,181,1079,1241,162,7,NaN,NaN,NaN
8773,Number of Values,NaN,0,0,0,NaN,0,NaN,3607,3607,...,3624,NaN,3603,3603,3603,0,3618,NaN,NaN,NaN
8774,Percent of Values,NaN,0,0,0,NaN,0,NaN,41,41,...,41,NaN,41,41,41,0,41,NaN,NaN,NaN
8775,Values >=200,NaN,0,0,0,NaN,NaN,NaN,0,141,...,NaN,NaN,0,198,326,128,NaN,NaN,NaN,NaN
8776,No of zeros,NaN,0,0,0,NaN,NaN,NaN,1,3,...,NaN,NaN,0,8,0,-8,NaN,NaN,NaN,NaN
8777,% Zeros,NaN,#DIV/0!,#DIV/0!,#DIV/0!,NaN,NaN,NaN,0,0,...,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN

In [36]:
df_view_tail(dublin_pm)
#bottom rows to be dropped from row = 371

5,Date,Marino PM2.5(µg m-3),Marino Flag,Marino Comment,Coleraine St. PM2.5 (µg m-3),Coleraine St. Flag,Coleraine St. Comment,Phoenix Park PM10 (µg m-3),Phoenix Park Flag,Phoenix Park Comment,Wood Quay (Winetavern St.) PM10 (µg m-3),Wood Quay (Winetavern St.) Flag,Wood Quay (Winetavern St.) Comment,Rathmines PM10 (µg m-3),Rathmines Flag,Rathmines Comment,Ballyfermot PM10 (µg m-3),Ballyfermot Flag,Ballyfermot Comment
361,22-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN
362,23-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.8,1,NaN,NaN,NaN,NaN
363,24-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.3,1,NaN,NaN,NaN,NaN
364,25-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.6,1,NaN,NaN,NaN,NaN
365,26-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.6,1,NaN,NaN,NaN,NaN
366,27-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6,1,NaN,NaN,NaN,NaN
367,28-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.1,1,NaN,NaN,NaN,NaN
368,29-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.4,1,NaN,NaN,NaN,NaN
369,30-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.2,1,NaN,NaN,NaN,NaN
370,31-Dec-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,Sites,Marino,NaN,NaN,Coleraine St.,NaN,NaN,Phoenix Park,NaN,NaN,Wood Quay,NaN,NaN,Rathmines,NaN,NaN,Ballyfermot,NaN,NaN
373,NaN,All data,NaN,NaN,All data,NaN,NaN,All data,NaN,NaN,All data,NaN,NaN,All data,NaN,NaN,All data,NaN,NaN
374,Annual Mean,13,NaN,NaN,18,NaN,NaN,18,NaN,NaN,21,NaN,NaN,24,NaN,NaN,#DIV/0!,NaN,NaN
375,Annual Median,9,NaN,NaN,13,NaN,NaN,14,NaN,NaN,16,NaN,NaN,19,NaN,NaN,#NUM!,NaN,NaN
376,95-percentile,38,NaN,NaN,51,NaN,NaN,44,NaN,NaN,51,NaN,NaN,59,NaN,NaN,#NUM!,NaN,NaN
377,98-percentile,46,NaN,NaN,58,NaN,NaN,52,NaN,NaN,59,NaN,NaN,72,NaN,NaN,#NUM!,NaN,NaN
378,99.9-percentile,66,NaN,NaN,85,NaN,NaN,65,NaN,NaN,93,NaN,NaN,118,NaN,NaN,#NUM!,NaN,NaN
379,Max,68,NaN,NaN,87,NaN,NaN,66,NaN,NaN,97,NaN,NaN,124,NaN,NaN,0,NaN,NaN
380,Number of Values,122,NaN,NaN,126,NaN,NaN,132,NaN,NaN,133,NaN,NaN,131,NaN,NaN,0,NaN,NaN
381,Percent of Values,33,NaN,NaN,35,NaN,NaN,36,NaN,NaN,36,NaN,NaN,36,NaN,NaN,0,NaN,NaN
382,Values >=50,2,NaN,NaN,8,NaN,NaN,3,NaN,NaN,7,NaN,NaN,11,NaN,NaN,0,NaN,NaN
383,Values <50,120,NaN,NaN,118,NaN,NaN,129,NaN,NaN,126,NaN,NaN,120,NaN,NaN,0,NaN,NaN
384,No of zeros,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
385,% Zeros,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN,#DIV/0!,NaN,NaN

In [37]:
df_view_tail(dublin_so2)
#bottom rows to be dropped from row = 8766

5,Date,Time,Coleraine Street SO2 ug/m3,Coleraine Street Daily Avg 24 hr.,Coleraine Street Flag,Coleraine Street Comment,Wood Quay (Winetavern St.) SO2 ug/m3,Wood Quay (Winetavern St.) Daily Avg 24 hr.,Wood Quay (Winetavern St.) Flag,Wood Quay (Winetavern St.) Comment,Ballyfermot SO2 ug/m3,Ballyfermot Daily Avg 24 hr.,Ballyfermot Flag,Ballyfermot Comment
8762,31/12/2011,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8763,31/12/2011,21.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8764,31/12/2011,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8765,31/12/2011,23.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8766,NaN,NaN,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN,NaN,#DIV/0!,NaN,NaN
8767,Hourly Average,NaN,NaN,NaN,Data Capture %,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8768,Annual Mean,NaN,0.5,#DIV/0!,NaN,NaN,0.4,#DIV/0!,NaN,NaN,#DIV/0!,#DIV/0!,NaN,NaN
8769,Annual Median,NaN,0.3,#DIV/0!,NaN,NaN,0.1,#DIV/0!,NaN,NaN,#NUM!,#DIV/0!,NaN,NaN
8770,95-percentile,NaN,2.9,#DIV/0!,NaN,NaN,2.4,#DIV/0!,NaN,NaN,#NUM!,#DIV/0!,NaN,NaN
8771,98-percentile,NaN,4.5,#DIV/0!,NaN,NaN,3.8,#DIV/0!,NaN,NaN,#NUM!,#DIV/0!,NaN,NaN
8772,99.9-percentile,NaN,13.4,#DIV/0!,3622,NaN,7.9,#DIV/0!,3612,NaN,#NUM!,#DIV/0!,0,NaN
8773,Max,NaN,17.4,#DIV/0!,2,NaN,8.8,#DIV/0!,1,NaN,0.0,#DIV/0!,0,NaN
8774,Number of Values,NaN,3310,147,3624,NaN,2770,146,3613,NaN,0,0,0,NaN
8775,Percent of Values,NaN,38,2,41,NaN,32,2,41,NaN,0,0,0,NaN
8776,Values >350,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN,NaN
8777,No of zeros,NaN,200,1,NaN,NaN,283,1,NaN,NaN,0,0,NaN,NaN
8778,% Zeros,NaN,6.0,0.7,NaN,NaN,10.2,0.7,NaN,NaN,#DIV/0!,#DIV/0!,NaN,NaN
8779,Daily Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,Sum Daily Avg.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,Count Daily Avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,Annual Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,Values >125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8784,Values >75,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,NaN,NaN
8785,Values >50,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,NaN,NaN
8786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Data Cleaning

In [38]:
#all dataframes start from row = 6, and the bottom rows are dropped
dublin_co = dublin_co.iloc[6:8773]
dublin_nox = dublin_nox.iloc[6:8766]
dublin_pm = dublin_pm.iloc[6:371]
dublin_so2 = dublin_so2.iloc[6:8766]

In [61]:
i=0
for entry in dublin_nox['Ballyfermot MPS NO2 ug/m3']:
    print(i)
    i=i+1
    if entry!=None:
        break

0

In [65]:
dublin_nox
dublin_nox.dropna(axis=1,how='all')

5,Date,Time,Ballyfermot MPS NO2 Check,Coleraine Street NO2 ug/m3,Coleraine Street NO ug/m3,Coleraine Street NOx ug/m3,Coleraine Street NO2 Check,Coleraine Street Flag,Wood Quay (Winetavern St.) NO2 ug/m3,Wood Quay (Winetavern St.) NO ug/m3,Wood Quay (Winetavern St.) NOx ug/m3,Wood Quay (Winetavern St.) NO2 Check,Wood Quay (Winetavern St.) Flag
6,01/01/2011,01:00,0,23.7,5.3,28.9,24,2,48.9,37.5,86.5,48.9,2
7,01/01/2011,02:00,0,24.0,6.5,30.5,24,2,44.1,17.8,61.9,44.1,2
8,01/01/2011,03:00,0,26.8,12.8,39.6,27,2,35.0,5.9,41.0,35.0,2
9,01/01/2011,04:00,0,27.0,12.8,39.9,27,2,38.3,10.7,49.0,38.3,2
10,01/01/2011,05:00,0,19.3,5.4,24.7,19,2,35.5,8.4,43.9,35.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8761,31/12/2011,20:00,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN
8762,31/12/2011,21:00,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN
8763,31/12/2011,22:00,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN
8764,31/12/2011,23:00,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN
8765,31/12/2011,24:00,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN