In [1]:
#importing pandas library
import pandas as pd

In [2]:
#import all datasets in this cell and following
#directory of datasets
dataset_path='./Datasets'
#co dataset
dublin_co = pd.read_csv(dataset_path+'/dublin-city-council-co-2011.csv')

In [3]:
#nox dataset
dublin_nox = pd.read_csv(dataset_path+'/dublin-city-council-no-no2-2011.csv')

In [4]:
#pm dataset
dublin_pm = pd.read_csv(dataset_path+'/dublin-city-council-pm10-2-5-2011.csv',encoding='unicode_escape')

In [5]:
#so2 dataset
dublin_so2 = pd.read_csv(dataset_path+'/dublin-city-council-so2-2011.csv')

# Following cells are for implementing the append_st_to_param_name function on the dataframes

In [6]:
#function to append the street name to the cells of row index = 5
#creating a new label for the cells of row index = 5 such that it contains the station name and the measured parameter
#the cells will later become the column names
def append_st_to_param_name(df, stname_index_r,stname_index_c,row_range_r,row_range_c_start,row_range_c_stop):
    #df = dataframe whose cells to append
    #row_range_r = the index of the row where to append the street names
    #row_range_c_start = the index of the first column of the range of columns where to append the street names
    #row_range_c_stop = the index of the last column of the range of columns where to append the street names
    #stname_index_r = the index of the row where the station name is
    #stname_index_c = the index of the column where the station name is
    df.iloc[row_range_r, row_range_c_start:row_range_c_stop] = [df.iloc[stname_index_r,stname_index_c] +
                                                                " " +pre_label for pre_label in  
                                                                df.iloc[row_range_r, 
                                                                        row_range_c_start:row_range_c_stop]]
    new_labels = df.iloc[row_range_r, row_range_c_start:row_range_c_stop]
    return new_labels

In [7]:
#label change for dublin_co.iloc[5,2:6]
append_st_to_param_name(dublin_co,4,2,5,2,6)

Unnamed: 2                  Wood Quay (Winetavern St.) CO mg/m3
Unnamed: 3               Wood Quay (Winetavern St.) 8 hr rol...
Unnamed: 4                      Wood Quay (Winetavern St.) Flag
Unnamed: 5                   Wood Quay (Winetavern St.) Comment
Name: 5, dtype: object

In [8]:
#label change for dublin_co.iloc[5,6:10]
append_st_to_param_name(dublin_co, 4, 6, 5, 6, 10)

Unnamed: 6                    Coleraine Street CO mg/m3
Unnamed: 7             Coleraine Street 8 hr roling avg
Unnamed: 8                        Coleraine Street Flag
Unnamed: 9                     Coleraine Street Comment
Name: 5, dtype: object

In [9]:
#label change for dublin_nox.iloc[5,2:8]
append_st_to_param_name(dublin_nox, 4, 4, 5, 2, 8)

Unnamed: 2    Ballyfermot MPS NO2 ug/m3
Unnamed: 3     Ballyfermot MPS NO ug/m3
Unnamed: 4    Ballyfermot MPS NOx ug/m3
Unnamed: 5    Ballyfermot MPS NO2 Check
Unnamed: 6         Ballyfermot MPS Flag
Unnamed: 7      Ballyfermot MPS Comment
Name: 5, dtype: object

In [10]:
#label change for dublin_nox.iloc[5,8:14]
append_st_to_param_name(dublin_nox,4,8,5,8,14)

Unnamed: 8                                                Col...
Unnamed: 9                                                Col...
Unnamed: 10                                               Col...
Unnamed: 11                                               Col...
Unnamed: 12                                               Col...
Unnamed: 13                                               Col...
Name: 5, dtype: object

In [11]:
dublin_nox.iloc[5,10]

'                                           Coleraine Street  NOx ug/m3'

In [12]:
#label change for dublin_nox.iloc[5,14:20]
append_st_to_param_name(dublin_nox,4,14,5,14,20)

Unnamed: 14                                  Wood Quay (Winet...
Unnamed: 15                                  Wood Quay (Winet...
Unnamed: 16                                  Wood Quay (Winet...
Unnamed: 17                                  Wood Quay (Winet...
Unnamed: 18                                  Wood Quay (Winet...
Unnamed: 19                                  Wood Quay (Winet...
Name: 5, dtype: object

In [13]:
dublin_nox.iloc[5,15]

'                              Wood Quay (Winetavern St.) NO ug/m3'

In [14]:
#label change for dublin_so2.iloc[5,2:6]
append_st_to_param_name(dublin_so2, 3, 2, 5, 2, 6)

Unnamed: 2                          Coleraine Street  SO2 ug/m3
Unnamed: 3                      Coleraine Street  Daily Avg ...
Unnamed: 4                               Coleraine Street  Flag
Unnamed: 5                            Coleraine Street  Comment
Name: 5, dtype: object

In [15]:
print(dublin_so2.iloc[5,3])

                  Coleraine Street  Daily Avg 24 hr.

In [16]:
#label change for dublin_so2.iloc[5,6:10]
append_st_to_param_name(dublin_so2,3,6,5,6,10)

Unnamed: 6                            Wood Quay (Winetavern ...
Unnamed: 7                            Wood Quay (Winetavern ...
Unnamed: 8                            Wood Quay (Winetavern ...
Unnamed: 9                            Wood Quay (Winetavern ...
Name: 5, dtype: object

In [17]:
print(dublin_so2.iloc[5,7])

                        Wood Quay (Winetavern St.) Daily Avg 24 hr.

In [18]:
#label change for dublin_nox.iloc[5,10:14]
append_st_to_param_name(dublin_so2,3,12,5,10,14)

Unnamed: 10           Ballyfermot SO2 ug/m3
Unnamed: 11    Ballyfermot Daily Avg 24 hr.
Unnamed: 12                Ballyfermot Flag
Unnamed: 13             Ballyfermot Comment
Name: 5, dtype: object

In [23]:
#label change for dublin_pm.iloc[5,1:4]
append_st_to_param_name(dublin_pm,4,1,5,1,4)

Unnamed: 1    Marino PM2.5(µg m-3)
Unnamed: 2             Marino Flag
Unnamed: 3         Marino Comment
Name: 5, dtype: object

In [22]:
dublin_pm[4:20]

,Please provide hourly results in ug/m3 of PM 10 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
4,Site,Marino,NaN,NaN,Coleraine St.,NaN,NaN,Phoenix Park,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,PM2.5(µg m-3),Flag,Comment,PM2.5 (µg m-3),Flag,Comment,PM10 (µg m-3),Flag,Comment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,01-Jan-11,16.8,1,NaN,17,1,NaN,14.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,02-Jan-11,12.6,1,NaN,8.9,1,NaN,10.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,03-Jan-11,25.1,1,NaN,18,1,NaN,16.0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,04-Jan-11,8.1,1,NaN,9.3,1,NaN,7.5,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,05-Jan-11,8.3,1,NaN,10.1,1,NaN,8.1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,06-Jan-11,24.6,1,NaN,32,1,NaN,17.6,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,07-Jan-11,14.3,1,NaN,19.7,1,NaN,16.4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,08-Jan-11,12.5,1,NaN,10.1,1,NaN,10.4,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,09-Jan-11,9.9,1,NaN,12,1,NaN,8.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10-Jan-11,11.0,1,NaN,11.6,1,NaN,8.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11-Jan-11,48.7,1,NaN,11.4,1,NaN,4.7,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,12-Jan-11,6.9,1,NaN,6.5,1,NaN,5.3,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,13-Jan-11,9.7,1,NaN,12.6,1,NaN,6.8,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,14-Jan-11,3.5,1,NaN,9.3,1,NaN,8.5,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#label change for dublin_pm.iloc[5,4:7]
append_st_to_param_name(dublin_pm,4,4,5,4,7)

Unnamed: 4    Coleraine St. PM2.5 (µg m-3)
Unnamed: 5              Coleraine St. Flag
Unnamed: 6          Coleraine St. Comment
Name: 5, dtype: object

In [25]:
#label change for dublin_pm.iloc[5,7:10]
append_st_to_param_name(dublin_pm,4,7,5,7,10)

Unnamed: 7    Phoenix Park PM10 (µg m-3)
Unnamed: 8             Phoenix Park Flag
Unnamed: 9         Phoenix Park Comment
Name: 5, dtype: object

In [57]:
#checking the number of columns of each datafarame. Apparently there are a lot of empty columns on dublin_pm
print(len(dublin_co.columns))
print(len(dublin_nox.columns))
print(len(dublin_so2.columns))
print(len(dublin_pm.columns))

10
22
14
52

In [70]:
#only selecting relevant columns of dublin_pm into a temporary dataframe
dublin_pm_temp = dublin_pm.iloc[:,:10]
#double checking for the number of colums selected
print(f'{len(dublin_pm_temp.index)} rows and {len(dublin_pm_temp.columns)} columns')
#
dublin_pm_temp.head(10)
dublin_pm.iloc[:10,10:]
#it seems there are more relevant columns
dublin_pm.iloc[:10,18:]
#and the number of relevant columns extend up to column = 18

7239 rows and 10 columns

,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Comment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
dublin_pm_temp = dublin_pm.iloc[:,:19]
dublin_pm_temp.head(10)
#looks like the appropriate number of columns should be 19 (up to column = 18)

,Please provide hourly results in ug/m3 of PM 10 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Please provide a flag number (see comment for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,If any new stations have been added to the net...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Site,Marino,NaN,NaN,Coleraine St.,NaN,NaN,Phoenix Park,NaN,NaN,Wood Quay (Winetavern St.),NaN,NaN,Rathmines,NaN,NaN,Ballyfermot,NaN,NaN
5,Date,Marino PM2.5(µg m-3),Marino Flag,Marino Comment,Coleraine St. PM2.5 (µg m-3),Coleraine St. Flag,Coleraine St. Comment,Phoenix Park PM10 (µg m-3),Phoenix Park Flag,Phoenix Park Comment,PM10 (µg m-3),Flag,Comment,PM10 (µg m-3),Flag,Comment,PM10 (µg m-3),Flag,Comment
6,01-Jan-11,16.8,1,NaN,17,1,NaN,14.7,1,NaN,20.7,1,NaN,19.7,1,NaN,NaN,NaN,NaN
7,02-Jan-11,12.6,1,NaN,8.9,1,NaN,10.7,1,NaN,13.5,1,NaN,16.1,1,NaN,NaN,NaN,NaN
8,03-Jan-11,25.1,1,NaN,18,1,NaN,16.0,1,NaN,23.1,1,NaN,24.4,1,NaN,NaN,NaN,NaN
9,04-Jan-11,8.1,1,NaN,9.3,1,NaN,7.5,1,NaN,10.8,1,NaN,12.2,1,NaN,NaN,NaN,NaN

In [73]:
#label change for dublin_pm.iloc[5,10:13]
append_st_to_param_name(dublin_pm,4,10,5,10,13)

Unnamed: 10    Wood Quay (Winetavern St.) PM10 (µg m-3)
Unnamed: 11             Wood Quay (Winetavern St.) Flag
Unnamed: 12         Wood Quay (Winetavern St.) Comment
Name: 5, dtype: object

In [74]:
#label change for dublin_pm.iloc[5,13:16]
append_st_to_param_name(dublin_pm,4,13,5,13,16)

Unnamed: 13    Rathmines PM10 (µg m-3)
Unnamed: 14             Rathmines Flag
Unnamed: 15         Rathmines Comment
Name: 5, dtype: object

In [75]:
#label change for dublin_pm.iloc[5,16:19]
append_st_to_param_name(dublin_pm,4,16,5,16,19)

Unnamed: 16    Ballyfermot PM10 (µg m-3)
Unnamed: 17             Ballyfermot Flag
Unnamed: 18         Ballyfermot Comment
Name: 5, dtype: object

In [76]:
#shortening dublin_pm to only the first 19 rows (i.e. up to column = 18)
dublin_pm = dublin_pm.iloc[:,:19]

In [78]:
#view the dataframe for a check
dublin_pm.head(10)

,Please provide hourly results in ug/m3 of PM 10 monitoring conducted in Dublin City in a tabular format by completing the table below.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Please provide a flag number (see comment for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,If any new stations have been added to the net...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please indicate if any of the stations listed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dublin City Council,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Site,Marino,NaN,NaN,Coleraine St.,NaN,NaN,Phoenix Park,NaN,NaN,Wood Quay (Winetavern St.),NaN,NaN,Rathmines,NaN,NaN,Ballyfermot,NaN,NaN
5,Date,Marino PM2.5(µg m-3),Marino Flag,Marino Comment,Coleraine St. PM2.5 (µg m-3),Coleraine St. Flag,Coleraine St. Comment,Phoenix Park PM10 (µg m-3),Phoenix Park Flag,Phoenix Park Comment,Wood Quay (Winetavern St.) PM10 (µg m-3),Wood Quay (Winetavern St.) Flag,Wood Quay (Winetavern St.) Comment,Rathmines PM10 (µg m-3),Rathmines Flag,Rathmines Comment,Ballyfermot PM10 (µg m-3),Ballyfermot Flag,Ballyfermot Comment
6,01-Jan-11,16.8,1,NaN,17,1,NaN,14.7,1,NaN,20.7,1,NaN,19.7,1,NaN,NaN,NaN,NaN
7,02-Jan-11,12.6,1,NaN,8.9,1,NaN,10.7,1,NaN,13.5,1,NaN,16.1,1,NaN,NaN,NaN,NaN
8,03-Jan-11,25.1,1,NaN,18,1,NaN,16.0,1,NaN,23.1,1,NaN,24.4,1,NaN,NaN,NaN,NaN
9,04-Jan-11,8.1,1,NaN,9.3,1,NaN,7.5,1,NaN,10.8,1,NaN,12.2,1,NaN,NaN,NaN,NaN